body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
}

header {
    grid-row: 1;
}

main {
    grid-row: 2;
}

footer {
    grid-row: 3;
}

