body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    justify-content: center;
}

header {
    grid-row: 1;
    width: 100vw;
}

main {
    width: 100vw;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto 1fr;
}


.storeFront {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.storeItem > img {
    width: 200px;
}

.shoppingCart {
    grid-row: 1;
    grid-column: 1;
}


footer {
    grid-row: 3;
}

