html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    grid-row: 1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100vw;
    grid-row: 2;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
}


.storeFront {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.shoppingCart {
    grid-row: 1;
    grid-column: 1;
}

.storeItem {
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: teal;
    border-radius: 1em;
    padding: 8px;
    height: 550px;
}

.storeItem > img {
    width: 200px;
    border-radius: 1em;
}

.storeItem > form {
    margin-top: auto;
    margin-bottom: 1em;
}

.buttonGroup {
    display: flex;
    gap: 2em;
}

.buttonGroup button {
    padding: 5px;
    flex: 1;
}

footer {
    grid-row: 3;
    justify-self: center;
}

